@import url('https://fonts.googleapis.com/css2?family=Dosis');

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  margin: 3% 16%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}
ul.compact P {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
ul.compact {
  margin-top: 0.4em;
  list-style-type: none;
}
ul.none {
  list-style-type: none;
}
dl {
  margin-bottom: 0.4em;
}
