:root {
  --size: 4;
  --timer: 50;
  --stroketimer: 0.500;
  --strokelen: 50;
  --blocksize: 58px;
}
body {
  border: 1px solid black;
  border-radius: 4px;
  height: 100%;
}
@media screen and (min-width: 769px) {
  body {
    margin-left: 33%;
    margin-right: 33%;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
}
footer {
  text-align: center;
}
footer a {
  font-family: sans-serif;
  font-size: xx-small;
  text-decoration: none;
}
div#header {
  text-align: center;
}
div#help {
  font-size: xx-small;
  text-align: center;
}
div#scores {
  width: 236px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
  border-radius: 4px;
}
div#scores h2 {
  font-size: medium;
}
div#scores p {
  font-size: small;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}
div#scores p span {
  text-align: right;
  float: right;
}
div#whiteout {
  display: none;
  position: fixed;
  z-index: 2;
  height: 232px;
  width: 232px;
  background-color: white;
  opacity: 0.8;
}
div#youwon {
  display: none;
  position: fixed;
  z-index: 3;
  width: 232px;
  background-color: transparent;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}
div#gameboard {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 232px;
  border: 4px solid #808080;
  border-radius: 4px;
  touch-action: none;
  cursor: pointer;
}
div#gametiles {
  display: block;
  position: relative;
}
div.row {
  display: block;
  height: 58px;
}
span.cell {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 4px solid #f8f8f8;
}
span.tile {
  display: inline-block;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 54px;
  height: 50px;
  width: 50px;
  border: 4px solid #808080;
  border-radius: 4px;
  opacity: 0;
  font-size: x-large;
  font-family: courier, fixed, monospace;
  font-weight: bold;
  transition: top 300ms, left 300ms, opacity 150ms;
}
span.tile::before {
  content: attr(value);
  height: 50px;
}
span.tile:not([value]) {
  background-color: white;
  opacity: 0.3;
}
span.tile[value="2"] {
  color: white;
  background: #485d68;
}
span.tile[value="4"] {
  color: white;
  background: #2ca796;
}
span.tile[value="8"] {
  color: white;
  background: #8e4c0c;
}
span.tile[value="16"] {
  color: white;
  background: #ac1d7f;
}
span.tile[value="32"] {
  color: white;
  background: #ffc605;
}
span.tile[value="64"] {
  color: white;
  background: #009dcd;
}
span.tile[value="128"] {
  color: white;
  background: #007541;
  font-size: large;
}
span.tile[value="256"] {
  color: white;
  background: #ff5500;
  font-size: large;
}
span.tile[value="512"] {
  color: white;
  background: #bfcc09;
  font-size: large;
}
span.tile[value="1024"] {
  color: white;
  background: #003669;
  font-size: medium;
}
span.tile[value="2048"] {
  color: white;
  background: #f42c59;
  font-size: medium;
}
span.tile[value="4096"] {
  color: white;
  background: #f42c59;
  font-size: medium;
}
span.tile[value="8192"] {
  color: white;
  background: #f4382c;
  font-size: medium;
}
span.tile[value="16384"] {
  color: white;
  background: #f46a2c;
  font-size: medium;
}
span.tile[value="32768"] {
  color: white;
  background: #f49c2c;
  font-size: medium;
}
span.tile[value="65536"] {
  color: black;
  background: #f4c72c;
  font-size: medium;
}
span.tile[value="131072"] {
  color: black;
  background: #ffff00;
  font-size: small;
}
span.tile[position="0"] {
  top: 0px;
  left: 0px;
}
span.tile[position="1"] {
  top: 0px;
  left: 58px;
}
span.tile[position="2"] {
  top: 0px;
  left: 116px;
}
span.tile[position="3"] {
  top: 0px;
  left: 174px;
}
span.tile[position="4"] {
  top: 58px;
  left: 0px;
}
span.tile[position="5"] {
  top: 58px;
  left: 58px;
}
span.tile[position="6"] {
  top: 58px;
  left: 116px;
}
span.tile[position="7"] {
  top: 58px;
  left: 174px;
}
span.tile[position="8"] {
  top: 116px;
  left: 0px;
}
span.tile[position="9"] {
  top: 116px;
  left: 58px;
}
span.tile[position="10"] {
  top: 116px;
  left: 116px;
}
span.tile[position="11"] {
  top: 116px;
  left: 174px;
}
span.tile[position="12"] {
  top: 174px;
  left: 0px;
}
span.tile[position="13"] {
  top: 174px;
  left: 58px;
}
span.tile[position="14"] {
  top: 174px;
  left: 116px;
}
span.tile[position="15"] {
  top: 174px;
  left: 174px;
}
